/**
 * Styles for the add-observation.html page 
 */
 #submitBtn:hover{
    outline: 2px auto #afe7ff;
 }

 #description, #photographerName, #photographerEmail, #photoFile{
    width: 65%;
    text-overflow: ellipsis; 
 } 
 
 #notes, #licenseDropdown {
    width: 68%;
    min-width: 300px;
    text-overflow: ellipsis; 
 }

#checkboxShare{
    vertical-align: middle;
}
#checkboxText{
    margin-left: -5px;
}
.required, #error_msg1, #error_msg2 {
    color: red;
}